#wrapper {
    background: #000;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: auto;
    position: relative;
}

#wrapper .header {
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto
}

#wrapper .header .header-box {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

/* Header Left */
.header-box .left {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: flex-start;
}

.header-box .left .logo-picture {
    flex-basis: 200px;
}

.header-box .left .form-search {
    flex-basis: 338px;
    margin-left: 57px;
}

.header-box .left .logo-picture img {
    display: block;
    max-width: 100%;
    height: auto;
}

.left .form-search i {
    color: #d41515;
    position: absolute;
    top: 19%;
    left: 26%;
    font-size: 1.6rem;
}

.left .form-search .find-header {
    overflow: visible;
    background: none;
    outline: none;
    border: 0px;
    border-bottom: 1px solid #d41515;
    color: #ffff;
    padding: 5px 9px;
    width: 100%;
}
/* End header left */


/* Header Right */
.header-box .right {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

.header-box .right .authentica-button {
    text-align: center;
    margin: 0px 9px;
    width: auto;
    height: auto;
}

.header-box .right .authentica-button .submit-login, .submit-signin {
    background: none;
    color: #d41515;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid black;
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 7px 21px;
}

.header-box .right .authentica-button .submit-signin {
    background: linear-gradient(to bottom, #3e1315, #e51515);
    color: #ffff;
}
/* End header right */

/* Navbar */
#navbar {
    width: 100%;
    background: #000;
    /* padding: 15px 0px; */
    /* display: flex;
    justify-content: space-between; */
}

/* #navbar ul.list-navbar {
    display: flex;
    position: relative;
    padding: 0px;
    list-style: none;
    align-items: center;
    margin: 0px;
}

#navbar ul.list-navbar li {
    
}

#navbar ul.list-navbar li a.nav-item {
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    text-transform: capitalize;
    display: block;
    padding: 19px 15px;
    font-weight: 600;
  
} */

nav {
    position: relative;
}
nav a {
    position: relative;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 21px 12px;
    z-index: 1;
}
nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 148px;
    height: 100%;
    background: linear-gradient(to bottom, #3e1315, #e51515);
    transition: .5s ease;
}

nav a:hover {
    text-decoration: none;
    color: #fff;
}
nav a:nth-child(1):hover~span {
    left: 0;
    width: 148px;
}
nav a:nth-child(2):hover~span {
    left: 152px;
    width: 130px;
}
nav a:nth-child(3):hover~span {
    left: 286px;
    width: 111px;
}
nav a:nth-child(4):hover~span {
    left: 401px;
    width: 100px;
}
nav a:nth-child(5):hover~span {
    left: 505px;
    width: 183px;
}
nav a:nth-child(6):hover~span {
    left: 692px;
    width: 126px;
}

/* #navbar ul.list-navbar li:hover a.nav-item {
 background: linear-gradient(to bottom, #3e1315, #e51515);
} */

#navbar .item-cart {
    display: flex;
    justify-content: center;
    padding: 4px 10px;
    align-items: center;
    background: -webkit-linear-gradient(top, #3e0707, #000);
}

#navbar .item-cart i {
    color: #d41515;
    font-size: 1.4rem;
    font-weight: 800;
    margin-right: 10px;
}

#navbar .item-cart .cart-content {
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #d41515;
    padding-top: 10px;
}

#navbar .item-cart .cart-content .cart-item {
    color: #fff;
    font-size: 14px;
    background: #d41515;
    font-weight: 800;
    padding: 0px 5px;
    border-radius: 22px;
}


/* End navbar */